.members{
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.members .list{
    margin-left: 2em;
    width: 50%;
}

.members li{
    margin-top: 1.1em;
}