.members{
    margin-left: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.members .list{
    /*margin-left: 2em;*/
    width: 50%;
}

.members .mem{
  margin-top: 1.1em;
}
